@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #F7F5EE;
  --fg: #1E1E1C;
}

html, body, #__next {
  height: 100%;
}

body {
  background: var(--bg);
  color: var(--fg);
}
